nav {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
.my-icon {
  width: auto;
  height: 90px;
  margin-left: 20px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a,
#services {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #1c1917;
}

nav ul li a:hover,
nav ul li a.active {
  border-bottom: 5px solid #ff68c5;
}

.dropdownparent {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  /* color: #1c1917; */
}

.dropdownparent:hover > div {
  color: #000;
}

.dropdownparent a:hover {
  border-bottom: 1px solid #ff68c5;
}

.dropdown-content.multi-column {
  position: absolute;
  /* top: 100%; */
  /* left: 50%; */
  transform: translateX(-50%);
  /* display: flex; */
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: max-content;
  margin-top: 2%;
}

.dropdown-content .column {
  /* display: flex;
  flex-direction: column;
  min-width: 200px; */
  margin: 0 10px;
}

.dd-links {
  /* font-size: 14px;
  color: black !important;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease; */
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin: 4px 0;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.dd-links:hover {
  background-color: #ff68c5;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.dropdownparent .p-divider-vertical {
  min-height: 100%;
  width: 1px;
  margin: 0 1rem;
  background-color: #fda4af;
}

.contactBtn {
  border: none;
  padding: 12px 24px;
  font-weight: 600;
  border-radius: 20px;
  border-top-right-radius: 0;
  background-color: #ff68c5;
  color: black;
  transition: all 0.3s ease;
  text-decoration: none;
}

.contactBtn:hover {
  background-color: #ff68c5;
  /* color: white; */
}

.border-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
}

.btn:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
}

.subheading {
  text-align: center;
}

.hamburger {
  display: none;
}
.hamburger svg {
  cursor: pointer;
}

.column-header {
  text-align: center;
}

.custom-tabview .p-tabview-nav {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.dd-links.active {
  background-color: #f0f0f0;
  color: #ff68c5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.panel-no-body .p-panel-content {
  display: none !important;
}

.collapsible-section {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.collapsible-header {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  cursor: pointer;
  /* padding: 8px 16px; */
  font-weight: bold;
}

.collapsible-content {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mobile-link-wrapper {
  padding: 10px 16px;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 901px) {
  .hamburger {
    display: initial;
  }
  nav > ul {
    display: none;
  }
  nav > div:nth-child(3) {
    display: none;
  }
  .my-icon {
    width: 100px;
  }
  nav > ul {
    margin: 0 0 10px 0;
    padding: 0px;
  }
  nav > div:nth-child(3) .btn {
    padding: 8px 30px;
  }
  .hamburger > svg:first-child {
    margin-top: 20px;
  }
  nav ul li a,
  #services {
    font-weight: 500;
  }

  /* .dropdown-content.multi-column{
    display: flex;
  } */
}
