.hero-banner-contact {
  /* background-image: url('../../Images/Contact\ _Us_Banner.png'); */
  background-size: cover;
  background-position: center;
  height: 370px;
  position: relative;
  display: flex;
  align-items: center;
  color: #ffff;
}

.hero-text {
  margin-left: 25px;
}

.ContactSection {
  display: grid;
  margin: 20px 50px;
  box-shadow: 0 0px 16px 0 rgba(224, 122, 95, 0.2);
  border-radius: 20px;
  grid-template-columns: 1fr 1fr;
  /* background-color: #FBEFE7; */
}

.Contact-heading {
  margin-top: 0px;
  font-size: 2rem;
  /* color: #E07A5F; */
  text-align: center;
}

.contact-subsection-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: grid;
  
  place-items: center;
}



.innersection-left p {
  text-align: center;
  font-size: 1.2rem;
  color: #ffff;
}

.contcatDblock {
  display: block;
  width: 350px;
  margin: 10px auto;
  border-left: 5px solid #ffff;
color: #ffff;
  transition: 0.3s ease;
}

.contcatDblock:hover,
.contcatDblock:nth-of-type(2):hover {
    background-color: #f0f0f0;
  /* color: #FB8500; */
  color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transform: translateY(-2px); 
  box-shadow: 2px 2px 2px 1px #ff1fa9;
}

.contcatDblock:nth-of-type(2) {
  /* background-color: #F3E8FF; */
  
}

.p-inline-message.p-inline-message-info  {
  background: linear-gradient(45deg, #ff1fa9, #ff68c5) !important;
}


.contact-icon {
  font-size: 1.1rem;
  margin-right: 10px;
  /* color: #E07A5F; */
  color: black;
}

.innersection-left {
  background-color: white;
  width: 80%;
  border-radius: 20px;
  
}

.innersection-left img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.contact-form-table {
  width: 100%;
}

.contact-form-table td input {
  width: 100%;
}

.drop-down-contact {
  position: absolute;
}

.contact-number {
  padding-left: 120px;
}

.twoCols .p-dropdown {
  width: 100%;
}

.contact-subsection-right {
  margin: 15px 60px;
}

.contact-subsection-right .p-card .p-card-content,
.Register-form .p-card .p-card-content {
  padding: 0;
}

.contact-subsection-right .p-card .p-card-body,
.Register-form .p-card .p-card-body {
  padding: 0;
}

.captcha {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px 20px;
  /* background-color: #CDB4DB; */
  background: linear-gradient(45deg, #ff1fa9, #ff68c5) !important;
  color: #fff;
  width: 160px;
  user-select: none;
  cursor: not-allowed;
  transform: rotate(-2deg) skewX(10deg) scaleY(0.8);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.label-style {
  position: absolute;
  font-size: 11px;
  color: gray;
  top: 0px;
  left: 18px;
  background-color: white;
  padding: 0px 5px;
  pointer-events: none;
  transition: 0.3s;
}

.mandatory {
  color: red;
}

.floating-label-container {
  position: relative;
}

.floating-label-container input,
.floating-label-container textarea {
  position: relative;
  transition: 0.1s ease;
  z-index: 1;
}

.label-line {
  position: absolute;
  font-size: 16px;
  color: gray;
  padding: 0px 0px;
  margin: 0 20px;
  background-color: white;
  transition: 0.2s ease;
  z-index: 1;
  pointer-events: none;
  top: 20px;
  border-radius: 10px;
}

.floating-label-container input:focus + .label-line,
.floating-label-container textarea:focus + .label-line {
  color: #ff1fa9;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  transform: translate(-20px, -30px) scale(0.88);
  z-index: 1;
  font-size: 13px;
}

.floating-label-container input:invalid + .label-line {
  color: red;
}

.floating-label-container input:invalid {
  border-color: red;
  box-shadow: 0 0 0 0.2rem #ff634747;
}

.floating-label-container.mobile-label .label-line {
  left: 100px;
}

.floating-label-container.mobile-label input:focus + .label-line,
.floating-label-container.mobile-label input:not(:placeholder-shown) + .label-line {
  transform: translate(-115px, -30px) scale(0.88);
  z-index: 3;
}

.floating-label-container input:not(:placeholder-shown) + .label-line,
.floating-label-container textarea:not(:placeholder-shown) + .label-line {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  transform: translate(-20px, -30px) scale(0.88);
  z-index: 1;
  font-size: 13px;
}

.white-text {
  color: white;
}


@media screen and (max-width: 1049px) {
  .contact-subsection-right {
    margin: 15px 20px;
  }
  .ContactSection {
    display: grid;
    margin: 20px 20px;
  }
}

@media screen and (max-width: 800px) {
  .innersection-left {
    width: 90%;
  }
}

@media screen and (max-width: 680px) {
  .ContactSection {
    grid-template-columns: 1fr;
  }
  .innersection-left img {
    width: 150px;
  }
  .innersection-left {
    margin: 30px 0;
  }
}