.hero {
  /* image + gradient ek hi background me */
  background-image: linear-gradient(
      90deg,
      rgba(80, 211, 168, 0.7) 10%,
      /* left me halka green */ rgba(77, 202, 161, 0.45) 35%,
      rgba(89, 120, 109, 0) 70%
    ),
    /* right ki taraf transparent */
      url("https://mssalon.co.uk/wp-content/uploads/2025/08/4246.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 6rem 2rem;
  position: relative;
}
/* .hero__content{ max-width: 640px; } */

.card {
  position: relative;
  /* width: 620px;   */
  aspect-ratio: 1.05/1; /* height control */
  border-radius: 22px;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  background: #111;
}

/* IMAGE */
.card__media,
.card__media img {
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  will-change: transform, filter;
  transition: transform 0.9s cubic-bezier(0.2, 0.7, 0.2, 1), filter 0.6s ease;
}
.card__media img {
  transform: translateY(0);
}

/* TEXT */
.card__body {
  position: relative;
  z-index: 2;
  max-width: 85%;
  margin: 0 auto;
  top: 18%;
  text-align: center;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
}
.card__body h3 {
  font-size: 42px;
  margin: 0 0 12px;
}
.card__body p {
  font-size: 20px;
  line-height: 1.5;
}

/* SHADE/GRADIENT overlay so text clear dikhe */
.card__shade {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.45) 40%,
    rgba(0, 0, 0, 0.65) 100%
  );
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

/* HOVER EFFECT: image niche slide + thoda zoom */
.card--image:hover .card__media img {
  transform: translateY(14%) scale(1.05);
  filter: saturate(1.1);
}
.card--image:hover .card__shade {
  opacity: 0.95;
}

.parentHomePage {
  display: flex;
  background-color: #faebf4;
}

.imgHeroParent img {
  margin-top: 50px;
  height: 800px;
  width: 800px;
}
.hero-Text{
  
}
/* Map Styling */
.map-container {
  margin-top: 2rem;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}


